/* Brand colors and style set here, to facilitate future brand design changes. */

:root {
  --brand-color-1: #C95789;
  --brand-color-1-transparent: #c9578825;
  --brand-color-2: #FF828B;
  --brand-color-2-transparent: #ff828a26;
  --brand-color-3: #E7C582;
  --brand-color-3-transparent: #e7c58225;
  --brand-color-4: #00B0BA;
  --brand-color-4-transparent: #00b1ba2a;
  --brand-color-5: #0065A2;
  --brand-color-5-transparent: #0064a228;
  --padding-standard: 0;
  --border-width-standard: 2px;
  --border-radius-standard: 15px;
  --margin-standard: 10px;
  --brand-font-family: Tahoma, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  padding: var(--padding-standard);
  margin: var(--margin-standard);
  font-family: var(--brand-font-family)
}

/* Brand colors used for all font, boxes and borders. */
/* Font sizes throughout set to respond to viewport width. */

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* Header bar with name and role on the left and navigation menu on the right. */

header {
  background-color: var(--brand-color-3-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-3);
  border-radius: var(--border-radius-standard);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.5vw;
}

/* About me section clearly defined with title, summary and photo occupying 20% and responding to viewport width. */

.about-me {
  background-color: var(--brand-color-2-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-2);
  border-radius: var(--border-radius-standard);
  margin: var(--margin-standard);
}

#profile-information {
  display: flex;
}

.profile-photo {
  width: 20%;
}

/* Portfolio section clearly defined with title and labelled apps below that can be clicked on to open in a new tab. */

#my-portfolio {
  background-color: var(--brand-color-4-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-4);
  border-radius: var(--border-radius-standard);
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: start;
}

.section-heading {
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The most recent app occupies the entire first row of the grid to appear more prominently. */

.app01 {
  grid-column: 1 / 5;
}

/* The second and third apps shre the space on the second row. */

.app02 {
  grid-column: 1 / 2;
}

.app03 {
  grid-column: 2 / 5;
}

img {
  max-width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  margin: var(--margin-standard);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-4);
  border-radius: var(--border-radius-standard);
}

/* Contact section clearly defined with 'Get in touch' instruction, email address, GitHub link and LinkedIn link, all clickable. */

#contact {
  background-color: var(--brand-color-5-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-5);
  border-radius: var(--border-radius-standard);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Signature displayed bottom right. */

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  color: var(--brand-color-1);
  font-size: 3vw;
}

h2 {
  color: var(--brand-color-5);
  font-size: 2vw;
}

h3 {
  color: var(--brand-color-3);
  font-size: 1.5vw;
}

h4 {
  color: var(--brand-color-4);
}

a {
  color: var(--brand-color-1);
  text-decoration: none;
}

p {
  color: var(--brand-color-5);
  font-size: 1.4vw;
}

/* Media queries set to support users with various viewport widths. */

@media only screen and (max-width: 1000px) {
  ...
}

@media only screen and (max-width: 600px) {
  ...
}