/* Brand colors and style set here, to facilitate future brand design changes. */

:root {
  --brand-color-1: #C95789;
  --brand-color-1-transparent: #c9578825;
  --brand-color-2: #FF828B;
  --brand-color-2-transparent: #ff828a26;
  --brand-color-3: #E7C582;
  --brand-color-3-transparent: #e7c58225;
  --brand-color-4: #00B0BA;
  --brand-color-4-transparent: #00b1ba2a;
  --brand-color-5: #0065A2;
  --brand-color-5-transparent: #0064a228;
  --padding-standard: 0px 0px 0px 0px;
  --border-width-standard: 2px;
  --border-radius-standard: 15px;
  --margin-standard: 10px 10px 10px 10px;
  --brand-font-family: Tahoma, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  padding: var(--padding-standard);
  margin: var(--margin-standard);
  font-family: var(--brand-font-family)
}

/* Brand colors used for all font, boxes and borders. */
/* Font sizes throughout set to respond to viewport width. */

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* Header bar with name and role on the left and navigation menu on the right. */

header {
  background-color: var(--brand-color-3-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-3);
  border-radius: var(--border-radius-standard);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.5vw;
}

/* About me section clearly defined with title, summary and photo occupying 20% and responding to viewport width. */

#about-me {
  background-color: var(--brand-color-2-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-2);
  border-radius: var(--border-radius-standard);
  margin: var(--margin-standard);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#profile-text {
  border-style: none;
  grid-column: 1 / 4;
}

#profile-photo {
  grid-column: 4 / 5;
  display: flex;
  justify-content: flex-end;
}

/* Portfolio section clearly defined with title and labelled apps below that can be clicked on to open in a new tab. */

#my-portfolio {
  background-color: var(--brand-color-4-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-4);
  border-radius: var(--border-radius-standard);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#portfolio-heading {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  display: flex;
  justify-content: center;
  }

/* The most recent app occupies the entire first row of the grid to appear more prominently. */

#app01 {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  position: relative;
}

/* The second and third apps share the space on the second row. */

#app02 {
  grid-column: 1 / 2;
  grid-row: 3 / 3;
  position: relative;
}

#app03 {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  position: relative;
}

img {
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-4);
  border-radius: var(--border-radius-standard);
  max-width: 100%;
  height: auto;
}

#app-label {
  background-color: var(--brand-color-4);
  margin: var(--margin-standard);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-1);
  border-radius: var(--border-radius-standard);
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.app-image {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

/* Contact section clearly defined with 'Get in touch' instruction, email address, GitHub link and LinkedIn link, all clickable. */

#contact {
  background-color: var(--brand-color-5-transparent);
  border-style: solid;
  border-width: var(--border-width-standard);
  border-color: var(--brand-color-5);
  border-radius: var(--border-radius-standard);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Signature displayed bottom right. */

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  color: var(--brand-color-1);
  font-size: 3vw;
}

h2 {
  color: var(--brand-color-5);
  font-size: 2vw;
}

h3 {
  color: var(--brand-color-3);
  font-size: 1.5vw;
}

h4 {
  color: var(--brand-color-4);
  font-size: 1.2vw;
}

a {
  color: var(--brand-color-1);
  text-decoration: none;
}

p {
  color: var(--brand-color-5);
  font-size: 1.4vw;
}

/* Media queries set to support users with various viewport widths. */

@media only screen and (max-width: 600px) {
  
  /* Header bar with name and role on one line and navigation menu on a separate line, all centered. */
  
  header {
    background-color: var(--brand-color-3-transparent);
    border-style: solid;
    border-width: var(--border-width-standard);
    border-color: var(--brand-color-3);
    border-radius: var(--border-radius-standard);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* About me section with title, summary and photo on separate lines, all centered. */

  #about-me {
    background-color: var(--brand-color-2-transparent);
    border-style: solid;
    border-width: var(--border-width-standard);
    border-color: var(--brand-color-2);
    border-radius: var(--border-radius-standard);
    margin: var(--margin-standard);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  #profile-heading {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    }

  #text {
    border-style: none;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
  }
  
  #profile-photo {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  /* Contact section with 'Get in touch' instruction, email address, GitHub link and LinkedIn link, on separate lines, all centered. */
  
  #contact {
    background-color: var(--brand-color-5-transparent);
    border-style: solid;
    border-width: var(--border-width-standard);
    border-color: var(--brand-color-5);
    border-radius: var(--border-radius-standard);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* Font sizes adjusted for smaller screen size to avoid need for pinching. */

  header li {
    font-size: 2.5vw;
  }
  
  h1 {
    font-size: 5vw;
  }
  
  h2 {
    font-size: 3.5vw;
  }
  
  h3 {
    font-size: 2vw;
  }
  
  h4 {
    font-size: 2vw;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-size: 2vw;
  }

  /* Contact details displayed vertically to facilitate use. */

  #contact li {
    font-size: 2vw;
    display: flex;
    justify-content: center;
  }

}