:root {
  --brand-color-1: #C95789;
  --brand-color-1-transparent: #c9578825;
  --brand-color-2: #FF828B;
  --brand-color-2-transparent: #ff828a26;
  --brand-color-3: #E7C582;
  --brand-color-3-transparent: #e7c58225;
  --brand-color-4: #00B0BA;
  --brand-color-4-transparent: #00b1ba2a;
  --brand-color-5: #0065A2;
  --brand-color-5-transparent: #0064a228;
  --padding-standard: 0;
  --border-width-standard: 2px;
  --border-radius-standard: 15px;
  --margin-standard: 10px;
  --brand-font-family: Tahoma, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  padding: var(--padding-standard);
  margin: var(--margin-standard);
  font-family: var(--brand-font-family)
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--brand-color-3-transparent);
  border: var(--border-standard);
  border-style: solid;
  border-width: var(--border-standard);
  border-color: var(--brand-color-3);
  border-radius: var(--border-radius-standard);
  display: flex;
  justify-content: space-between;
}

#about-me {
  background-color: var(--brand-color-2-transparent);
  border: var(--border-standard);
  border-style: solid;
  border-width: var(--border-standard);
  border-color: var(--brand-color-2);
  border-radius: var(--border-radius-standard);
  display: flex;
  justify-content: space-between;
}

#text {
  border: var(--border-standard);
  border-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#my-portfolio {
  background-color: var(--brand-color-4-transparent);
  border: var(--border-standard);
  border-style: solid;
  border-width: var(--border-standard);
  border-color: var(--brand-color-4);
  border-radius: var(--border-radius-standard);
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: start;
}

.section-heading {
  grid-column: 1 / 5;
}

.app01 {
  grid-column: 1 / 5;
}

.app02 {
  grid-column: 1 / 3;
}

.app03 {
  grid-column: 3 / 5;
}

img {
  border-radius: var(--border-radius-standard);
  background-size: cover;
  background-position: center;
}

#contact {
  background-color: var(--brand-color-5-transparent);
  border: var(--border-standard);
  border-style: solid;
  border-width: var(--border-standard);
  border-color: var(--brand-color-5);
  border-radius: var(--border-radius-standard);
}

h1 {
  color: var(--brand-color-5);
}

h2 {
  color: var(--brand-color-2);
}

h3 {
  color: var(--brand-color-3);
}

h4 {
  color: var(--brand-color-4);
}

h5 {
  color: var(--brand-color-5)
}

a {
  color: var(--brand-color-1);
}

li {
  display: inline-block;
  list-style-type: none;
  button: hover;
}

p {
  color: var(--brand-color-5);
}

.professional-profile-photo {
  height: 180px;
  width: 242px;
  background-image: url("../images/professional-profile-photo.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: var(--border-standard);
  border-style: solid;
  border-width: var(--border-standard);
  border-color: var(--brand-color-4);
  border-radius: var(--border-radius-standard);
}

[href$".gmail.com"]//before {
  content: ;
  display: inline-block;
  margin: right 3px;
}


@media only screen and (max-width: 1000px) {
  ...
}

@media only screen and (max-width: 600px) {
  ...
}